.hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 5rem 3rem;

    @media (max-width: $mobile) {
        padding: 4rem 2rem 2rem 2rem;
    }


    &__image {
        border-radius: 50%;
        border: .4rem solid lightslategrey;
        height: 7.5rem;
        width: 7.5rem;

        @media (max-width: $mobile) {
            height: 10rem;
            width: 10rem;
        }
    }

    &__title {
        font-family: 'Poppins', sans-serif;
        font-size: 2.3rem;
        font-style: normal;
        line-height: 3.5rem;
        max-width: 58rem;
        color: $border;
        padding-top: 1rem;
        // text-align: center;

        @media (max-width: $mobile) {
            padding-top: 1rem;
        }
    }

    &__hand {
        cursor: pointer;
        display: inline-block;

        &:hover {
            opacity: .8;
            animation: shakes .3s ease-in-out infinite alternate;
        }

        @keyframes shakes {
            0% {
                transform: rotate(35deg);
            }

            100% {
                transform: rotate(-35deg);
            }
        }
    }

    &__description {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 2.25rem;
        max-width: 42.5rem;
        max-height: 108px;
        padding-bottom: 8rem;
        color: $description-color;
    }

    &__mail {
        color: $blue;
        text-decoration: none;
        border-bottom: 2px solid $blue;
        line-height: 2rem;
        padding-bottom: 1rem;
        font-size: 1.2rem;
        font-style: none;
    }

    &__anchor {
        color: $blue;
        text-decoration: none;
        animation: .3s ease-in-out;
    }

    &__anchor:hover {
        color: $check-blue;
    }
}