.hero {
    max-width: 1240px;
    margin: 0 auto;
    padding: 10rem 8rem 5rem 4rem;


    &__image {
        position: absolute;
        left: 7.5rem;
        top: 6rem;
        border-radius: 50%;
        border: .4rem solid lightgrey;
        width: 7rem;
        height: 7rem;
    }

    &__title {
        font-family: 'Poppins', sans-serif;
        font-size: 2.8rem;
        font-style: normal;
        line-height: 3.5rem;
        max-width: 48.7rem;
        color: $border;
        padding-top: 3rem;
        text-align: justify;
    }

    &__hand {
        cursor: pointer;
        display: inline-block;

        &:hover {
            opacity: .8;
            animation: shakes .3s ease-in-out infinite alternate;
        }

        @keyframes shakes {
            0% {
                transform: rotate(35deg);
            }

            100% {
                transform: rotate(-35deg);
            }
        }
    }

    &__description {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 2.25rem;
        max-width: 42.5rem;
        max-height: 108px;
        padding-bottom: 10rem;
        text-align: justify;
        color: $description-color;
    }

    &__mail {
        color: $blue;
        text-decoration: none;
        border-bottom: 2px solid $blue;
        font-size: 1.5rem;
        line-height: 2rem;
        padding-bottom: 1rem;
        font-size: 1.2rem;
        font-style: none;
    }

    &__anchor {
        color: $blue;
    }

    &__anchor:hover {
        color: $check-blue;
    }
}