#progressBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 1rem;
    background: linear-gradient(to left, #008aff, #00ffe7);
    animation: animate linear 10s infinite;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}