.skills {
    max-width: 1440px;
    margin: 4rem auto;
    padding: 0 3rem;

    @media (max-width: $mobile) {
        margin: 5rem 0;
        padding: 0 2rem;
    }

    &__title {
        border-bottom: 2px solid #E5E8EC;
        color: $title-color;
        font-size: 2.25rem;
        line-height: 2.75rem;
        padding: 1rem 0;

        @media (max-width: $mobile) {
            text-align: center;
        }
    }
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    padding-top: 5rem;

    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
    }

    &__title {
        color: $title-color;
        font-size: 2rem;
        line-height: 2.75rem;
        margin: 0;

        &::before {
            background: $check-green;
            content: "";
            display: block;
            height: 4px;
            margin-bottom: 1.6rem;
            width: 5.6rem;

            .skills-list--second & {
                background: $check-purple;
            }

            .skills-list--third & {
                background: $check-blue;
            }
        }
    }

    &__items {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-column-gap: 1rem;
        padding: 0 0 0 4rem;

        @media (max-width: $mobile) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            padding: 0 2rem;
            column-gap: 4rem;
        }
    }

    &__item {
        color: $item-color;
        font-size: 1rem;
        list-style-type: none;
        padding: .5rem;
        position: relative;

        @media (max-width: $mobile) {
            font-size: 1.5rem;
            padding: .5rem 2rem;
        }

        &::before {
            background: url('../assets/img/check-circle-green.png');
            content: "";
            display: block;
            height: 1.1rem;
            left: -1.5rem;
            position: absolute;
            top: .5rem;
            width: 1.1rem;

            @media (max-width: $mobile) {
                height: 1.7rem;
                width: 1.7rem;
            }

            .skills-list--second & {
                background: url('../assets/img/check-circle-purple.png');
            }

            .skills-list--third & {
                background: url('../assets/img/check-circle-blue.png');
            }
        }
    }

}