$green: #bada55;
$black: #000011;
$yellow: #F9C802;
$lightgrey: #ddd;
$border: #171F3F;
$blue: #0593FB;
$title-color: #171F3F;
$description-color: #52606D;
$check-green: #06C847;
$check-purple: #653CAD;
$check-blue: #2251CC;
$item-color: #52606D;
$background-grey: #F5F7FA;
$mobile: 641px;