@import "_normalize";
@import "_variables";

@import "modules/article.scss";
@import "modules/footer.scss";
@import "modules/hero.scss";
@import "modules/skills.scss";
@import "modules/scroll.scss";

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap&subset=latin-ext');


html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px;

  @media (max-width: $mobile) {
    font-size: 10px;
  }
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background: #fff;
  border: 1rem solid $border;
  color: $black;
  font-family: 'Poppins', sans-serif;

  @media (max-width: $mobile) {
    border: none;
  }
}